/* SKILLS MARQUEE */
.skills-strip {
    overflow: hidden;
    padding: 2rem 0;
}

.skills-track {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: scrollSkills 25s linear infinite;
}

.skill {
    padding: 1rem;
    border-radius: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #023e8a;
    white-space: nowrap;
}

@keyframes scrollSkills {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.skill:hover {
    transform: scale(1.05);
    border-color: #00b4d8;
    color: #00b4d8;

}

/* ACHIEVEMENTS GRID */
.achievement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
}

.achievement {
    border: 1px solid #023e8a;
    border-radius: 15px;
    padding: 2rem;
    min-height: 200px;
    line-height: 2rem;
    font-weight: 200;
    letter-spacing: 0.08em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.achievement:hover {
    transform: scale(1.02);
    border-color: #00b4d8;
}

.achievement-title {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
    color: #0077b6;
}

@media (max-width: 768px) {
    .achievement-grid {
        grid-template-columns: 1fr;
    }
}