/* root, body, common css script */
html {
    scroll-behavior: smooth;
}

:root {
    --black: #050505;
    --red: #FF2E2E;
    --orange: #FF8C00;
    --white: #FFFFFF;
}

.no-motion * {
    animation: none !important;
    transition: none !important;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    margin: 0;
    line-height: 1.6;
}

.highlight {
    background: linear-gradient(90deg, var(--red), var(--orange));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-padding {
    padding: 80px 10%;
}

.section-title {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: -2.5px;
}