#contact {
    padding: 3rem;
    background: transparent;
    color: white;
    margin: 2rem;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: start;
}

/* LEFT SIDE */

.contact-title {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
}

.contact-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #00b4d8;
    margin-bottom: 1rem;
}

.contact-text {
    font-size: 0.95rem;
    color: #ffffff;
    opacity: 0.85;
    line-height: 1.6;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.contact-email {
    font-size: 0.9rem;
    color: #0077b6;
    margin: 2rem 0;
    border: 1px solid #023e8a;
    width: fit-content;
    padding: 0.7rem;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.contact-email:hover {
    transform: translateY(-3px);
    color: #34b8ff;
    border-color: #34b8ff;
}

.contact-socials {
    display: flex;
    gap: 2rem;
}

.contact-socials img {
    width: 2.8rem;
    height: 2.8rem;
    filter: brightness(0) invert(1);
    opacity: 0.85;
    transition: all 0.3s ease;
}

.contact-socials img:hover {
    opacity: 1;
    transform: translateY(-3px);
}

/* RIGHT FORM */

.contact-form label {
    display: block;
    font-size: 0.75rem;
    color: #12aafc;
    margin-bottom: 0.3rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid #023e8a;
    padding: 0.6rem;
    color: white;
    font-size: 0.85rem;
}

.contact-form textarea {
    resize: none;
}

.form-row {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact-form>div {
    margin-bottom: 1.5rem;
}

.contact-form button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #0077b6;
    color: white;
    border: 1px solid #0077b6;
    border-radius: 15px;
    font-size: 1.3rem;
    letter-spacing: 0.08em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.contact-form button:hover {
    background: #00b4d8;
    transform: translateY(-3px);
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .contact-grid {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}