.navbar {
    position: fixed;
    top: 24px;
    left: 28px;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 26px;
    border: 1px solid #023e8a;
    opacity: 0.9;
    padding: 10px 18px;
    border-radius: 999px;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

.navbar .nav-links {
    display: flex;
    gap: 18px;
}

.nav-links a {
    letter-spacing: 0.12em;
}

.nav-links a:hover {
    color: #00b4d8;
}

.navbar .nav-logo {
    max-width: 18px;
    height: auto;
}



/* NAV MAIL */
.nav-email {
    position: fixed;
    top: 24px;
    right: 28px;
    z-index: 5;
    border: 1px solid #023e8a;
    opacity: 0.9;
    border-radius: 999px;
    font-family: 'Space Mono', monospace;
    padding: 10px 18px;
    font-size: 1rem;
}

.nav-email:hover {
    color: #00b4d8;
    border-color: #00b4d8;
}

/* MAIN TEXT */
.hero {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-titles {
    display: flex;
    flex-direction: column;
}

.hero-name {
    font-family: 'sans-serif';
    font-size: clamp(2.5rem, 8vw, 6rem);
    /* border: 1px solid white; */
    margin: 0;
    letter-spacing: 0.05em;
}

.hero-subtitle {
    font-family: 'Space Mono', monospace;
    font-size: clamp(0.7rem, 2.8vw, 1.2rem);
    /* border: 1px solid white; */
    letter-spacing: 0.18em;
    color: #0077b6;
}

/* LOCATION */
#location-dot {
    background: #00ff88;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
    margin-top: 2.8px;
}

.hero-location {
    position: absolute;
    left: 2rem;
    z-index: 3;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    letter-spacing: 0.18rem;
    color: rgba(255, 255, 255, 0.85);
}