/* EXPERIENCE SECTION */
#timeline {
    padding: 10px 80px;
    color: #fff;
    position: relative;
}

.timeline-title {
    font-family: 'Outfit', monospace;
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 400;
}

/* TIMELINE */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ffffff;
}

/* TIMELINE ITEM */
.timeline-item {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    position: relative;
}

/* LEFT MARKER */
.timeline-marker {
    position: relative;
    width: 60px;
    flex-shrink: 0;
}

.timeline-marker .dot {
    position: absolute;
    left: 17px;
    top: 18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0077b6;

    box-shadow:
        0 0 6px rgba(9, 108, 236, 0.9),
        0 0 18px rgba(16, 102, 214, 0.6),
        0 0 36px rgba(2, 62, 138, 0.3);


}

.timeline-content {
    flex: 1;
    position: relative;
}

.timeline-content .year {
    display: inline-block;
    margin-bottom: 14px;

    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #0077b6;
}


/* CARD */
.timeline-card {
    padding: 18px 22px;
    border-radius: 18px 28px 28px 18px;
    border: 1px solid #023e8a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-card h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 8px;
    margin-top: 8px;
    letter-spacing: 2px;
}

.timeline-card p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 0.95rem;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #ffffffcc;
}

/* Hover effect */
.timeline-card:hover {
    transform: translateY(-6px);
    border-color: #0077b6;
}

@media (max-width: 900px) {
    #experience-section {
        padding: 40px 15px;
        overflow: hidden;
    }

    .section-title {
        font-size: 2rem;
        text-align: center;
    }

    .timeline {
        padding-left: 20px;
        margin-left: 10px;
    }

    .timeline::before {
        left: 5px;
    }

    .timeline-item {
        flex-direction: column;
        margin-bottom: 40px;
        padding-left: 15px;
    }

    .timeline-marker .dot {
        left: -20px;
        width: 10px;
        height: 10px;
    }

    .timeline-content {
        width: 100%;
        padding-left: 0;
    }

    .timeline-card {
        padding: 18px;
        width: 100%;
        box-sizing: border-box;
    }

    .timeline-card h3 {
        font-size: 1.2rem;
        line-height: 1.3;
    }
}